*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{
    background-color: brown;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.blog{
    margin: 50px;
    border: 5px green solid ;

    background-color: pink;
}

h2{
    background-color: aqua;
    color: rebeccapurple;
    margin: 10px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}