*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: green; */
    background-image:url("../Images/joar.png");
    background-repeat: no-repeat;
}

.external{
    border: 20px black solid;
}

#bio{
    color: brown;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style:italic;
}

.myclass{
    text-align: center;
}

#blog{
    margin: 20px;
    border: 10px tomato solid;
    height: 500px;
    width: 800px;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 5px 10px 30px red;
}

